@charset "UTF-8";

body{
    background-image: url('../imagens/macaco.gif');
    background-size: cover;
}

a{
    text-decoration: none;
    font-size: 18pt;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-right: 10px;
}

a:hover{
    text-decoration: underline;
}